@charset "utf-8";
/* CSS Document - Ryan Fung's CSS Template Version 3.3Î² "PyroCarbon" (Navigation variant)
 * Last Updated:  2011-06-28 | 21:43
 * Use of | indicate children of given parent
 * Use of ! indicate notes

 Contents:
 * body
 * a, a:hover, a:active
 * h1, h2, h3, h4, h5
 * p
 * ol, ol ol, ol ol ol, ul, ul ul, ul ul ul
 * strong, em
 * code
 * q, blockquote
 * hr
 * dl, dt, dd
 * #header
 * #wrap
 * #hgroup
 * #navtab, #nav, #nav| a; a:hover; a:active
 * #nav| table; tbody; tr; td
 * #nav ul, #nav li, #nav li:hover ul, #nav li| ul; li; li:first-child; li:last-child
 * #nav .nav li| a; a:hover; a:active
 * #nav .nav li li| a; a:hover; a:active
 * .section !convertable to HTML5!, .subsection, .subsubsection
 * .stab, .sstab, .ssstab !section, subsection, subsubsection tabs!
 * #footer
 * .date
 * .desc
 * .music
 */

body {
	background: #000;
	color: #CCC;
	font-size: 12px;
	font-family: Frutiger, "Myriad Pro", "Segoe UI", Calibri, Tahoma, Verdana, sans-serif;
	margin: 10px;
	padding: 0;
}
a {
	outline: 0;
	color: #FC3;
	text-decoration: none;
}
a:hover {
	color: #FC3;
	text-decoration: underline;
}
a:active {
	color: #FF0;
}
h1 {
	color: #F00;
	font-size: 48px;
	margin: -10px 0 -10px;
	font-variant: small-caps;
	font-weight: bolder;
	text-align: center;
}
h2 {
	color: #F60;
	font-size: 32px;
	margin: 0;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
}
h3 {
	color: #F93;
	font-size: 24px;
	margin: 0;
	font-weight: bold;
}
h4 {
	color: #FC3;
	font-size: 16px;
	margin: 0;
}
h5 {
	color: #FFF;
	font-size: 12px;
	margin: 0;
	font-weight: bold;
}
p {
	margin: 5px 0;
	padding: 0;
}
ol {
	list-style: decimal;
	margin: 0;
	margin-left: 20px;
	padding: 0;
}
ol ol {
	list-style: lower-latin;
}
ol ol ol {
	list-style: lower-roman;
}
ul {
	list-style: disc;
	margin: 0;
	margin-left: 20px;
	padding: 0;
}
ul ul {
	list-style: circle;
}
ul ul ul {
	list-style: square;
}
strong {
	background: #FF0;
	color: #F00;
	border-radius: 5px;
	padding: 0 2px;
}
em {
	color: #FC3;
}
code {
	font-size: 12px;
}
q {
	background: #000;
	border-radius: 5px;
	color: #F60;
	font-style: italic;
	padding: 0 5px;
}
blockquote {
	background: #000;
	border-radius: 5px;
	color: #F60;
	margin: 10px 5px;
	padding: 5px 10px;
	font-style: italic;
}
hr {
	background: #999;
	border: 0;
	height: 2px;
	margin: 0 0 0px;
}
dl {
	border-left: 5px #F60 groove;
	margin: 15px 5px 10px;
}
dt {
	color: #F60;
	font-weight: bold;
	margin: -10px 0 10px 5px;
}
dd {
	font-style: italic;
	margin: -10px 0 10px 25px;
}
#header {
	background: #333;
	border-bottom-left-radius: 500px 60px;
	border-bottom-right-radius: 500px 60px;
	margin-bottom: 10px;
}
#wrap {
	margin: auto;
	width: 99%;
}
#hgroup {
	font-size: 16px;
	margin-bottom: 5px;
}
#navtab {
	background: #333;
	border-top-left-radius: 60px 20px;
	border-top-right-radius: 60px 20px;
	color: #CCC;
	font-weight: bold;
	margin: auto;
	padding-top: 2px;
	text-align: center;
	width: 150px;
}
#nav {
	background: #333;
	border-radius: 10px;
	color: #F60;
	font-size: 16px;
	margin: auto;
	padding: 4px 0 2px;
}
#nav a {
	border-radius: 10px;
	color: #F60;
	padding: 0 5px;
	text-decoration: none;
}
#nav a:hover {
	background: #000;
}
#nav a:active {
	background: #F60;
	color: #000;
}
#nav table, #nav tbody, #nav tr, #nav td {
	border: 0;
	border-spacing: 0;
	margin: auto;
	padding: 0;
}
#nav ul {
	height: 21px;
	list-style: none;
	margin: 0;
	padding: 0;
}
#nav li {
	background: #333;
	float: left;
	margin: 0 2px;
}
#nav li ul {
	display: none;
	margin: 5px 0 0 -3px;
}
#nav li:hover ul {
	display: block;
	position: absolute;
}
#nav li li {
	background: #666;
	float: none;
	margin: 0 0 0 3px;
	padding: 1px 3px 0 5px;
	text-align: left;
}
#nav li li:first-child {
	margin-top: -1px;
	padding-top: 3px;
}
#nav li li:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-bottom: 5px;
}
#nav .nav li a {
	background: #666;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding: 0 10px 4px;
}
#nav .nav li a:hover {
	background: #000;
}
#nav .nav li a:active {
	background: #F60;
	color: #000;
}
#nav .nav li li a {
	border-radius: 10px;
	color: #F93;
	opacity: 0.5;
	padding: 0 5px;
	text-decoration: none;
}
#nav .nav li li a:hover {
	background: #000;
	opacity: 1;
}
#nav .nav li li a:active {
	background: #F93;
	color: #000;
}
.section {
	background: #333;
	border-radius: 10px;
	border-top-left-radius: 0;
	margin: 0 0 10px;
	padding: 10px 10px 5px;
	text-align: justify;
}
.subsection {
	background: #666;
	border-radius: 10px;
	border-top-left-radius: 0;
	margin: 0 0 5px;
	padding: 1px 10px;
	text-align: justify;
}
.subsubsection {
	background: #999;
	border-radius: 10px;
	border-top-left-radius: 0;
	margin: 0 0 5px;
	padding: 1px 10px;
	text-align: justify;
}
.stab{ /* section tab */
	background: #333;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding: 0 20px;
}
.sstab { /* subsection tab */
	background: #666;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding: 0 20px;
}
.ssstab { /* subsubsection tab */
	background: #999;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 0 15px;
}
#footer {
	color: #F90;
	font-size: 10px;
	text-align: center;
	margin-top: -5px;
}
.date {
	background: #F60;
	border-radius: 10px;
	color: #333;
	font-weight: bold;
	font-style: italic;
	margin: 0 5px;
	padding: 0 5px;
	width: 105px;
}
.desc {
	border-bottom: 1px #F60 dotted;
	cursor: help;
}
.music {
	background: #FC3;
	border-radius: 5px;
	color: #000;
	margin: 0 5px;
	padding: 0 5px;
}
