@charset "utf-8";
::-moz-selection {
	background: rgba(255,102,0,0.6);
	color: #fff;
}
::selection {
	background: rgba(255,102,0,0.6);
	color: #fff;
}
body {
	font-family: 'Maven Pro', "Myriad Pro", "Segoe UI", "Lucida Grande", sans-serif;
	font-weight: 400;
	background: #eee;
	margin: 0;
	transition: ease 0.25s;
}
header {
	background: #fc9;
	border-top: 5px solid #f60;
	border-bottom-left-radius: 200px 50px;
	border-bottom-right-radius: 200px 50px;
	box-shadow: 0px 0px 20px #999;
	margin: 0 0 15px;
}
header.header-fixed {
	position: fixed;
	width: 100%;
}
header.header-fixed + section {
	padding-top: 140px;
}
nav {
	text-align: center;
	padding: 0 10% 10px;
}
nav a {
	display: inline-block;
	font-size: 24px;
	text-decoration: inherit;
	color: inherit;
	border: none;
	background: #fdb;
	border-radius: 3px;
	border-bottom-left-radius: 20px 10px;
	border-bottom-right-radius: 20px 10px;
	margin: 0 5px;
	padding: 5px;
}
nav a:hover {
	color: #f60;
	background: #fed;
}
nav a:active {
	border: none;
	box-shadow: 0 0 50px 7px rgba(255,102,0,0.5) inset;
}
footer {
	font-size: 20px;
	text-align: center;
	color: #f60;
	background: -webkit-linear-gradient(top,#fed,#fc9);
	background:    -moz-linear-gradient(top,#fed,#fc9);
	background:     -ms-linear-gradient(top,#fed,#fc9);
	background:      -o-linear-gradient(top,#fed,#fc9);
	background:         linear-gradient(  0,#fc9,#fed);
	border-bottom: 5px solid #f60;
	box-shadow: 0px 0px 30px #999;
	padding: 10px;
}
section {
	background: #eee;
	padding: 30px 20px;
	box-shadow: 0px 0px 30px #999;
}
section:nth-child(2) {
	box-shadow: none;
	padding: 20px 20px 30px;
}
section:nth-child(odd) {
	background: #ddd;
	box-shadow: 0px 0px 30px #666;
}
h1 {
	font-size: 54px;
	font-variant: small-caps;
	text-align: center;
	color: #f60;
	margin: 0;
	padding: 5px 0 0;
}
h2 {
	font-size: 36px;
	text-align: center;
	color: #f60;
	background: #ddd;
	border-radius: 5px;
	border-top-left-radius: 50px 25px;
	border-top-right-radius: 50px 25px;
	padding: 10px;
	margin: -10px 0 0;
}
section:nth-child(odd) h2 {
	background: #eee;
}
h3 {
	font-size: 28px;
	color: #fa3;
	border-bottom: #fa3 solid 4px;
	margin: 10px 0 -5px;
	padding: 10px 0 0;
}
h4 {
	font-size: 24px;
	font-weight: 600;
	color: #fc0;
	border-bottom: #fc0 solid 2px;
	margin: 10px 0 -5px;
	padding: 10px 0 0;
}
h5 {
	font-size: 20px;
	font-weight: 600;
	margin: 10px 0 -5px;
	padding: 10px 0 0;
}
p {
	color: #000;
	margin: 0;
	padding: 15px 0 0;
}
p, ul, ol, li, dl, table, form * {
	font-size: 20px;
}
a {
	border: 1px solid #f60;
	border-radius: 3px;
	border-top-left-radius: 16px 8px;
	border-top-right-radius: 16px 8px;
	color: #f60;
	padding: 5px;
	transition: ease 0.25s;
}
a:hover {
	background: #f60;
	color: #fff;
	text-decoration: none;
}
a:active {
	border: 1px solid;
	background: #999;
	color: #f60;
}
a.button, input[type="button"], button, input[type="file"]::-webkit-file-upload-button {
	text-decoration: none;
	background: #fff;
	background: -webkit-linear-gradient(top,#fff,#ddd);
	background:    -moz-linear-gradient(top,#fff,#ddd);
	background:        -linear-gradient(top,#fff,#ddd);
	border: 1px solid #ccc;
}
a.button:hover, input[type="button"]:hover, button:hover, input[type="file"]::-webkit-file-upload-button:hover {
	background: #f60;
	background: -webkit-linear-gradient(top,#F93,#f60);
	background:    -moz-linear-gradient(top,#F93,#f60);
	background:        -linear-gradient(top,#F93,#f60);
}
a.button:active, input[type="button"]:active, button:active, input[type="file"]::-webkit-file-upload-button:active {
	box-shadow: 0 0 20px 3px rgba(0,0,0,0.5) inset;
	color: #fff;
}
strong{color:#f60;}
em{color:#F93;}
code{color:#0C6;}
ol{margin-left:-10px}
ol{list-style:decimal;}
ol ol{list-style:lower-latin;}
ol ol ol{list-style:lower-roman;}
ul{margin-left:-10px}
dl {
	border-left: 7px double #f60;
	margin-left: 4px;
	padding-left: 4px;
}
dt{font-weight:bold;}
dd{font-style:italic;}
table{border-radius:5px;border-spacing:0;}
table,th,td{border:1px solid #999;}
th {
	background: #f60;
	background: -webkit-linear-gradient(top,#F93,#f60);
	background:    -moz-linear-gradient(top,#F93,#f60);
	background:        -linear-gradient(top,#F93,#f60);
	color: #fff;
}
tr{background:#fc9;}
tr:nth-child(even){background:#fdb;}
th,td{padding:5px;}
hr {
	background: #f60;
	border: none;
	height: 2px;
	margin: 5px;
}
blockquote {
	font-size: 20px;
	text-align: justify;
	background: #fff;
	border-top-left-radius: 40px 20px;
	border-top-right-radius: 40px 20px;
	color: #f60;
	padding: 20px;
}
blockquote:before{content:"\"";}
blockquote:after{content:"\"";}
div.codeblock {
	background: #f60;
	background: -webkit-linear-gradient(top,#F93,#f60);
	background:    -moz-linear-gradient(top,#F93,#f60);
	background:        -linear-gradient(top,#F93,#f60);
	padding: 0 0 0 30px;
}
ol.codeblock {
	font-family: monospace;
	background: #f60;
	background: -webkit-linear-gradient(top,#F93,#f60);
	background:    -moz-linear-gradient(top,#F93,#f60);
	background:        -linear-gradient(top,#F93,#f60);
	padding: 3px 3px 3px 30px;
}
ol.codeblock li {
	background: #ccc;
	color: #333;
	padding: 2px 5px;
}
ol.codeblock li:nth-child(odd) {
	background: #fc9;
}
ol.codeblock li:nth-child(even) {
	background: #fdb;
}
form *, input[type="file"]::-webkit-file-upload-button {
	font-family: inherit;
}
fieldset {
	border: 2px solid #f60;
	margin: 20px 0;
	box-shadow: 2px 2px 10px 0px rgba(102,102,102,0.5);
}
legend {
	font-size: 28px;
	font-weight: bold;
	background: #fff;
	background: -webkit-linear-gradient(top,#fff,#eee);
	background:    -moz-linear-gradient(top,#fff,#eee);
	background:        -linear-gradient(top,#fff,#eee);
	border: 2px solid #f60;
	border-radius: 3px;
	border-top-left-radius: 16px 8px;
	border-top-right-radius: 16px 8px;
	padding: 7px 10px;
}
input:focus {
	background:#fdb;
	transition: ease 0.25s;
}
input, select, input[type="button"], button, input[type="file"]::-webkit-file-upload-button, textarea {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
input, select, input[type="file"]::-webkit-file-upload-button, textarea {
	border: 1px solid #f93;
	padding: 5px;
}
input[type="button"], button, input[type="file"]::-webkit-file-upload-button {
	cursor: pointer;
}
textarea {
	padding: 5px;
}
.desc {
	border-bottom: 2px dotted #f60;
	cursor: help;
}
@media all and (max-width:767px) {
	header {
		margin: 0 0 10px;
	}
	nav {
		padding: 0 5% 20px;
	}
	nav a {
		display: block;
		font-size: 60px;
		border-radius: 10px;
		border-bottom-left-radius: 50px 25px;
		border-bottom-right-radius: 50px 25px;
		margin: 30px 10px;
	}
	h1{font-size:120px;}
	h2{font-size:80px;}
	h3{font-size:60px;}
	h4 {
		font-size: 40px;
		text-shadow: rgba(0,0,0,0.5) 5px 5px 30px;
	}
	ol,ul,dl{width:94%;overflow:hidden;}
	dl {
		border-left: 20px double #f60;
		margin-left: 10px;
		padding-left: 10px;
	}
}

.pyro {
	cursor: default;
	background: #000;
	background: -webkit-linear-gradient(top,#333,#000);
	background:    -moz-linear-gradient(top,#333,#000);
	background:      -o-linear-gradient(top,#333,#000);
	        transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	     -o-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	   -moz-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	border: 2px solid #000;
	border-radius: 3px;
	font-weight: bold;
	padding: 2px 4px;
}
.pyro{border:none}
.pyro-p{color:#F00}
.pyro-y{color:#f60}
.pyro-r1{color:#F93}
.pyro-o1{color:#FC3}
.pyro-c{color:#fff}
.pyro-a{color:#eee}
.pyro-r2{color:#ddd}
.pyro-b{color:#ccc}
.pyro-o2{color:#BBB}
.pyro-n{color:#AAA}
.pyro:hover {
	background: #000;
	background: -webkit-linear-gradient(left,#F00,#f60,#F93,#FC3,#fff,#fff,#eee,#ddd,#ccc,#BBB,#AAA);
	background:    -moz-linear-gradient(left,#F00,#f60,#F93,#FC3,#fff,#fff,#eee,#ddd,#ccc,#BBB,#AAA);
	background:      -o-linear-gradient(left,#F00,#f60,#F93,#FC3,#fff,#fff,#eee,#ddd,#ccc,#BBB,#AAA);
	transition: 0.2s ease-in-out;
}
.pyro:hover .pyro-p, .pyro:hover .pyro-y, .pyro:hover .pyro-r1, .pyro:hover .pyro-o1, .pyro:hover .pyro-c, .pyro:hover .pyro-a, .pyro:hover .pyro-r2, .pyro:hover .pyro-b, .pyro:hover .pyro-o2, .pyro:hover .pyro-n{
	color: #000;
	        transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	     -o-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	   -moz-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}
