// Adobe Color CC generated

// #f60 analoguous
$base1 : #f60;
$base1a: #ffac0d;
$base1b: #e8840c;
$base1c: #e8440c;
$base1d: #ff270d;

// #f60 shades
$base2 : #f60;
$base2a: #e55c00;
$base2b: #8f4c00;
$base2c: #7f3300;
$base2d: #401900;

// #ff7300 analoguous
$base3 : #ff7300;
$base3a: #ffb50d;
$base3b: #e88e0c;
$base3c: #e84f0c;
$base3d: #ff330d;

// #ff7300 shades
$base4 : #ff7300;
$base4a: #bf5600;
$base4b: #7f3900;
$base4c: #401d00;
$base4d: #e56700;

// PyroCarbon v3
$pyro9  : hsl( 28, 100%,  20%);
$pyro8  : hsl( 28, 100%,27.5%);
$pyro7  : hsl( 28, 100%,  35%);
$pyro6  : hsl( 28, 100%,42.5%);
$pyro   : hsl( 28, 100%,  50%);
$pyro5  : hsl( 28, 100%,62.5%);
$pyro4  : hsl( 28, 100%,  75%);
$pyro3  : hsl( 28, 100%,81.3%);
$pyro2  : hsl( 28, 100%,87.5%);
$pyro1  : hsl( 28, 100%,92.5%);
$carbon : hsl(  0,   0%, 100%);
$carbon1: hsl(  0,   0%,97.5%);
$carbon1: hsl(  0,   0%,  95%);
$carbon1: hsl(  0,   0%,92.5%);
$carbon2: hsl(  0,   0%,  90%);
$carbon3: hsl(  0,   0%,  85%);
$carbon9: hsl(  0,   0%,37.5%);
