// Adobe Color CC generated

// #f60 analoguous
$base1 : #f60;
$base1a: #ffac0d;
$base1b: #e8840c;
$base1c: #e8440c;
$base1d: #ff270d;

// #f60 shades
$base2 : #f60;
$base2a: #e55c00;
$base2b: #8f4c00;
$base2c: #7f3300;
$base2d: #401900;

// #ff7300 analoguous
$base3 : #ff7300;
$base3a: #ffb50d;
$base3b: #e88e0c;
$base3c: #e84f0c;
$base3d: #ff330d;

// #ff7300 shades
$base4 : #ff7300;
$base4a: #bf5600;
$base4b: #7f3900;
$base4c: #401d00;
$base4d: #e56700;

// PyroCarbon v3

$pyro : hsl( 28, 100%,  50%); // #ff7700
$pyro0:  darken($pyro,  40%); // #331800
$pyro1:  darken($pyro,  30%); // #663000
$pyro2:  darken($pyro,  20%); // #994700
$pyro3:  darken($pyro,  10%); // #cc5f00
$pyro4:  darken($pyro,   5%); // #e66b00
$pyro5: lighten($pyro,12.5%); // #ff9940
$pyro6: lighten($pyro,  25%); // #ffbb80
$pyro7: lighten($pyro,31.3%); // #ffcca0
$pyro8: lighten($pyro,37.5%); // #ffddbf
$pyro9: lighten($pyro,42.5%); // #ffebd9

$carbon : hsl( 0, 0%,  30%); // #4d4d4d
$carbon1: hsl( 0, 0%,37.5%); // #606060
$carbon2: hsl( 0, 0%,  50%); // #808080
$carbon3: hsl( 0, 0%,  60%); // #999999
$carbon4: hsl( 0, 0%,72.5%); // #b9b9b9
$carbon5: hsl( 0, 0%,  85%); // #d9d9d9
$carbon6: hsl( 0, 0%,  90%); // #e6e6e6
$carbon7: hsl( 0, 0%,92.5%); // #ececec
$carbon8: hsl( 0, 0%,  95%); // #fcfcfc
$carbon9: hsl( 0, 0%,97.5%); // #f9f9f9

$black: #000;
$white: #fff;
$kbd: adjust_hue($pyro, 120deg);
