*::selection {
	background: rgba(255, 119, 0, 0.8);
	color: #fff;
}

body {
	position: relative;
	padding-top: 3.5rem;
	background-color: #f2f2f2;
	color: #505050;
	font: 16px 'Maven Pro', sans-serif;
}

h1::before, h2::before, h3::before, h4::before {
  display: block;
  content: " ";
  margin-top: -3.5rem;
  height: 3.5rem;
  visibility: hidden;
}

/* == Responsive Layout */
@media (min-width: 100rem) {
	.container {
		max-width: 95rem;
	}
}

/* == Header navbar */
header .navbar {
	padding: 0rem;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, .3);
	color: #fff;
}
.navbar-brand, .navbar-nav, .navbar-nav .nav-item {
	display: inline-block;
	float: none;
	vertical-align: top;
}

@media (max-width: 34em) {
	.navbar-brand, .navbar-nav {
		margin: 0 .5rem .25rem;
	}
}

@media (min-width: 34em) {
	header .navbar {
		background-color: transparent;
		text-align: center;
	}
	#header-navbar {
		min-height: 3rem;
		padding: .5rem;
		text-align: center;
	}
}
.navbar-toggler {
	clear: both;
	padding: .5rem;
}

/* == Code elements */

pre {
	border-radius: 0.25em 0.25em 0 0;
}

pre {
	padding: 1rem;
	background-color: #fff;
	counter-reset: line;
}
pre > span, pre > code > span {
	counter-increment: line;
}
pre span:before{
	content: counter(line);
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

/* == Form elements */

fieldset { margin-bottom: .5rem; }
select[multiple].form-control { padding: 0; }
option { padding: .375rem .75rem; }

::-webkit-file-upload-button{
	display: inline-block;
	padding: .0625rem .25rem;
	font: 1rem 'Maven Pro', sans-serif;
	line-height: 1.5;
	color: #fff;
	background-color: #ff7300;
	border: .0625rem solid #ff7300;
	border-radius: .25rem;
	cursor: pointer;
}

/* PyroCarbon: colouring
/* -------------------------------------------------- */
header .navbar {
	background-color: #ff7300;
}

@media (min-width: 34em) {
	header .navbar {
		background-image: linear-gradient(0, rgba(255, 115, 0, .9), #ff7300);
	}
}

mark { background-color: #ffebd9; }
code { color: #ff7300; }
kbd { color: #0f0; }

a { color: #ff7300; }
a:hover, a:active, a:focus { color: #d96500; }
a.link {
	color: inherit;
	border-bottom: 0.0625rem solid #ff7300;
}
a.link:hover, a.link:active, a.link:focus {
	color: #000;
	text-decoration: none;
	border-bottom-width: 0.125rem;
}

.form-control {
	border-bottom-left-radius:  0;
	border-bottom-right-radius: 0;
}

.form-control:focus { border-color: #ff9940; }
option:focus, option:checked { color: #ff7300; }

.btn-primary {
	background-color: #ff7300;
	border-color: #d96500;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: #d96500;
	border-color: #b35300;
}

/* PyroCarbon: other styling
/* -------------------------------------------------- */


/* Side navbar
/* -------------------------------------------------- */

#sidenav {
	position: fixed;
	line-height: 1.5;
	top: 3.5rem;
}
.sidenav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sidenav .dropdown-toggle::after {
	display: none;
}
.sidenav a, .sidenav a.active {
	background-color: inherit;
	color: inherit;
}
.sidenav a:hover, .sidenav a.active:hover, .sidenav a.active:focus {
	background-color: hsl(  0,   0%,87.5%);
	color: inherit;
}
.sidenav > li > a {
	display: block;
	padding: .2rem .5rem;
	border-left: .2rem solid transparent;
}
.sidenav > li > a.active, .sidenav > li > a.active + ul li {
	background: hsl(  0,   0%,92.5%);
}
.sidenav > li > ul > li > a {
	padding: .2rem .5rem .2rem 1.5rem;
	padding-left: 1.5rem;
	border-left: .2rem solid transparent;
}
.sidenav > li > ul > li > a.active {
	border-left: .2rem solid #f60;
}
